* {
  font-family: "Shentox", "Rogan", sans-serif;
  overflow-x: hidden;
}
.navbar {
  z-index: 1;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: white;
}
.background-image {
  z-index: 0;
  background-image: url("images/stars.png");
  background-size: 100vw auto;
}
.Vanguard_inner__7eVoB .Vanguard_image__1Dq6a {
  display: flex;
  justify-content: right;
  order: 1;
}
#bg-2 {
  z-index: 0;
  background-image: url("https://images.ctfassets.net/7lhcm73ukv5p/1LLLhAiEriJe4WFY8tmwvZ/249a031894077fb0c61a45c8a260b2a5/havoc_www_bg3.jpg?w=1100&q=75&fm=webp");
  background-size: 100vw auto;
  background-repeat: no-repeat;
}
#bg-3 {
  z-index: 0;
  background-image: url("https://images.ctfassets.net/7lhcm73ukv5p/5MQyeil0qIOh75HWmSPYLx/00cd75ecc617614651941b27ad16713f/eve_vanguard_section_trans.png?w=1100&q=75&fm=webp");
  background-size: 100vw auto;
  background-repeat: no-repeat;
}
.hero-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  color: white;
  font-weight: bolder;
}
.hero-heading {
  margin-left: 5px;
  font-size: 3rem;
}
h6 {
  font-size: 25px;
  margin-left: 15px;
}

.buttons {
  margin-top: 15px;
  display: flex;
  color: black;
  margin-left: 10px;
  width: 400px;
  height: 80px;
}
.buttons button {
  background-color: #5ccbcb;
  width: 170px;
  height: 65px;
  font-weight: bold;
}
.play-free-button {
  border: transparent;
}
.play-free-button:hover {
  border: 3px solid white;
}
.buttons i {
  color: black;
}
i {
  color: lightseagreen;
}
.download,
.support {
  cursor: pointer;
}
.omega-button {
  color: black;
  margin-left: 20px;
  width: 185px;
  height: 65px;
  border: transparent;
}
.omega-button button {
  background-color: white;
  color: black;
}
.omega-button button:hover {
  border: 3px solid black;
}
p {
  margin-top: 0;
  margin-bottom: 2rem;
  margin-left: 15px;
}
.stars-image {
  margin-top: 150px;
}
.announcement {
  width: 390px;
  height: auto;
  background-color: #ffffff;
  display: flex;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 70px;
  margin-left: 190px;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out 1.5s forwards;
  transition: opacity 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Announcement_content__26M8s {
  flex: 1;
  color: #333333;
}

.Announcement_headline__1NWuO {
  font-size: 20px;
  margin-bottom: 10px;
}

.Announcement_teaser__qQGqx {
  font-size: 16px;
}

.Announcement_button__1yilG {
  margin-top: 10px;
}

.havoc-image {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.havoc-image img {
  width: 130px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 768px) {
  .havoc-image {
    margin-right: 10px;
  }

  .havoc-image img {
    width: 100px;
  }
}
@media (max-width: 576px) {
  .havoc-image {
    display: none;
  }
}
.bi-arrow-down-circle-fill {
  margin-left: 15px;
  font-size: 2rem;
  color: white;
}
.bi-play-fill {
  margin-left: 15px;
  padding: 5px;
  font-size: 2rem;
  color: white;
}
.platforms_icons i {
  opacity: 0;
  animation: fadeIn 1s ease-in-out 1.5s forwards;
  transition: opacity 0.5s ease-in-out;
}
@keyframes platformsFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.EVE-text p {
  font-family: "Shentox", "Rogan", sans-serif;
  font-size: 2.1rem;
}
.pc-gamer-image {
  height: 90px;
  opacity: 0;
  animation: fadeIn 1s ease-in-out 1.5s forwards;
  transition: opacity 0.5s ease-in-out;
}
.footer {
  font-family: "Shentox", "Rogan", sans-serif;
  background-color: black;
  color: white;
  display: flex;
  padding-top: 100px;
  justify-content: space-between;
  border-bottom-color: white;
}
.footer-title {
  font-size: 2.5rem;
}
.footer-icons {
  display: flex;
  justify-content: space-evenly;
}
.footer-icons i {
  margin-left: 30px;
  font-size: 2rem;
  color: lightyellow;
}
.bi-discord {
  margin-right: 10px;
}
.footer-languages {
  background-color: black;
  color: white;
}
.languages i {
  margin-left: 20px;
}
.Footer_col__25cQM {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
}
.Footer_col__25cQM {
  .footer_lists {
    margin-top: 10px;
    font-size: small;
    color: lightyellow;
  }
}
Footer_footer__31qkA .Footer_below__Te8-Q .Footer_col__25cQM:nth-child(2) {
  padding-top: 15px;
}
/* @media only screen and (min-width: 700px)
.Footer_footer__31qkA .Footer_below__Te8-Q .Footer_col__25cQM {
  flex: 1 1 50%;
} */
.Footer_footer__31qkA .Footer_below__Te8-Q .Footer_col__25cQM {
  flex: 1 1 100%;
  padding-top: 30px;
}
.footer-last-section-heading {
  font-size: small;
  color: grey;
}
.About_about i {
  font-size: 5rem;
  color: grey;
}
.About_about-icons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.About_about_counter {
  margin-top: 10px;
  color: #5ccbcb;
  font-family: "Shentox", "Rogan", sans-serif;
  font-size: 2rem;
  margin-right: 5px;
}
.content {
  text-align: center;
  font-family: "Shentox", "Rogan", sans-serif;
}
.content-heading {
  color: white;
}
.content-text {
  color: white;
  font-size: small;
}
.mantine-86psgv {
  appearance: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  width: auto;
  border-radius: 0rem;
  user-select: none;
  font-family: "Shentox", "Rogan", "sans-serif";
  position: relative;
  text-transform: uppercase;
  border: none;
  padding: 10px 30px;
  height: 60px;
  font-size: 18px;
  letter-spacing: 0.02em;
  min-width: 220px;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  line-height: normal;
  font-weight: 600;
  background-color: white;
  color: black;
  white-space: nowrap;
  cursor: pointer;
  transition: color 0.2s ease-in-out 0s;
  clip-path: none;
}
.factionLogo {
  display: flex;
}
.kbnuPB {
  width: 400px;
  height: 350px;
  background-image: url("https://images.ctfassets.net/7lhcm73ukv5p/1EEY4yhD4mQjAwZYxa5ThR/64bd39c3dd4d24c8c43730234ae94ac5/frontline_amarr.png?fm=webp&w=600&h=679&q=90");
  background-size: cover;
  object-fit: contain;
}
.Gkmbt {
  margin-left: 15px;
  width: 400px;
  height: 350px;
  background-size: cover;
  object-fit: contain;
  background-image: url("https://images.ctfassets.net/7lhcm73ukv5p/3CW0IU0wDTQ34RvNOPNIlH/80d0c5bfd55d2b53dfa0815a9883d003/frontline_minmatar.png?fm=webp&w=600&h=679&q=90");
}
.Gallente {
  margin-left: 45px;
  width: 400px;
  height: 350px;
  background-size: cover;
  object-fit: contain;
  background-image: url("https://images.ctfassets.net/7lhcm73ukv5p/77CbVCce0WAUxHQRf6GcAj/1396ab825acf441e49c053bb3b6bda10/Frontlines-gallente-portrait.png?fm=webp&w=600&h=679&q=90");
}
.Caldari {
  margin-left: 15px;
  width: 400px;
  height: 350px;
  background-size: cover;
  object-fit: contain;
  background-image: url("https://images.ctfassets.net/7lhcm73ukv5p/2AgeXDV34nURIzKuipUJgT/6e0ea9514a5db8dbed1325773b60b044/frontline_caldari.png?fm=webp&w=600&h=679&q=90");
}
.rivalry_images {
  margin-left: 90px;
}
.rivalry_images img {
  width: 70%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

@media only screen and (max-width: 768px) {
  .kbnuPB,
  .fighting-image,
  .Gkmbt,
  .Gallente,
  .Caldari,
  .factionLogo svg {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .navbar-collapse {
    flex-basis: auto;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-nav {
    margin-top: auto;
  }
}

@media (max-width: 575.98px) {
  .navbar-collapse {
    display: none;
  }
  .navbar-toggler {
    display: block;
  }
}
@media (min-width: 576px) {
  .hero-section {
    padding-top: 100px;
  }
}

@media (min-width: 768px) {
  .hero-section {
    padding-top: 150px;
  }
}

@media (min-width: 992px) {
  .hero-section {
    padding-top: 200px;
  }
}

@media (min-width: 1200px) {
  .hero-section {
    padding-top: 250px;
  }
}
.hero_video__1Y5hn {
  position: relative;
  overflow: hidden;
}

.hero_video__1Y5hn video {
  width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .About_about-icons .col-md-3 {
    text-align: center;
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .About_about-icons .col-md-3 {
    text-align: center;
    margin-bottom: 20px;
  }

  .Footer_2nd_Column,
  .Footer_3rd_Column,
  .Footer_4th_Column {
    margin-top: 20px;
  }
}
.eve-academy-background-image {
  overflow: hidden;
  width: 100%;
  height: 600px;
  object-fit: contain;
  background-size: cover;
  background-image: url("https://images.ctfassets.net/7lhcm73ukv5p/7rnGxwxeQy1Ugr2OJTtXL5/c63fe851c557ea795993b27bd40a4714/www-academy-bg.jpg?fm=webp&fit=fill&w=768&h=1000");
}
.eve-academy h1,
h3,
p {
  font-family: "Shentox", "Rogan", "sans-serif";
}
.eve-academy p {
  font-size: 1.5rem;
}
.eve-academy h1,
h3 {
  margin-left: 10px;
}
.eve-academy h1 {
  font-size: 3rem;
}

.eve-academy-buttons .col-md-6 button {
  margin-top: 10px;
  width: 300px;
  height: 70px;
  margin-left: 50px;
  background-color: #f1f1f1;
  color: black;
  font-family: "Shentox", "Rogan", "sans-serif";
  font-weight: bold;
}
.eve-academy-buttons .col-md-6 button i {
  font-family: "Shentox", "Rogan", "sans-serif";
  font-size: larger;
  color: darkorchid;
  margin-left: 100px;
}
.community-background-image {
  width: 100%;
  height: 900px;
  overflow-y: hidden;
  background-size: cover;
  background-image: url("/EVE CLONE/images/stars.png");
  object-fit: contain;
}
.community-image {
  padding-left: 15px;
  margin-left: 20px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url("https://images.ctfassets.net/7lhcm73ukv5p/7pCtyBLTPMaYANK5Kx1r0p/55a94d83b297de4cf14f37ccb3016bda/www_community_collage.jpg?w=1440");
  object-fit: contain;
}
.community-text {
  background-color: black;
}
.community-text p {
  font-family: "Shentox", "Rogan", "sans-serif";
  font-size: 1.2rem;
  margin-top: 120px;
}
